python-dotenv==1.1.1
langchain-groq==0.2.1
langchain-openai==0.3.27
pandas==2.3.1
langgraph==0.6.7
langgraph_checkpoint_sqlite
langgraph-checkpoint-redis==0.1.1
groq==0.30.0
plotly==6.2.0
matplotlib==3.10.3
streamlit==1.47.0
streamlit-authenticator==0.2.3
streamlit-extras==0.7.1
PyYAML==6.0.2
mysql-connector-python==9.4.0
SQLAlchemy==2.0.42
ipykernel==6.30.1
pypdf2
